<a href="https://colab.research.google.com/github/Hyubbbb/EPOCH_LinearAlgebra/blob/main/Pandas2/Dahee_Practice4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ch.5 판다스 데이터프레임 Part2**

### 5.1 Query

> query 메서드: **값을 사용**해서 특정 조건에 부합하는 데이터 필터링 (cf.불리언 표현식)

In [ ]:
from pandas import DataFrame

data = [
    {'cd':'A060310', 'nm':'3S', 'open':2920, 'close':2800},
    {'cd':'A095570', 'nm':'AJ네트웍스', 'open':1920, 'close':1900},
    {'cd':'A006840', 'nm':'AK홀딩스', 'open':2020, 'close':2010},
    {'cd':'A054620', 'nm':'APS홀딩스', 'open':3120, 'close':3200}
]
df = DataFrame(data=data)
df = df.set_index('cd')
print(df)

             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

**방법 1.** 조건 시리즈로 슬라이싱

In [ ]:
cond = df['open'] >= 2000
print(df[cond])

             nm  open  close
cd
A060310      3S  2920   2800
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

**방법 2.** query 메서드로 필터링
> 큰/작은따옴표로 쿼리 묶고 다른 형식의 따옴표로 문자열 구분

> 컬럼과 인덱는 따옴표 없이 사용 가능

In [ ]:
print(df.query('nm == "3S"'))

         nm  open  close
cd
A060310  3S  2920   2800

> 종가가 시가보다 큰 상승 마감한 데이터만 출력

In [ ]:
print(df.query('open > close'))

             nm  open  close
cd
A060310      3S  2920   2800
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010

> 3S와 AK홀딩스 종목만 선택

> **in 연산자**: 뒤에 나오는 자료구조에 나열된 데이터만을 선택

> not in: 뒤에 나오는 자료구조에 포함되지 않은 종목만을 선택

In [ ]:
print(df.query('nm in ["3S", "AK홀딩스"]'))

            nm  open  close
cd
A060310     3S  2920   2800
A006840  AK홀딩스  2020   2010

**방법 3.** 인덱스 기준 조회

In [ ]:
df.query('cd == "A060310"')

         nm  open  close
cd
A060310  3S  2920   2800

> **@**: @ 키워드를 사용하면 파이썬 변수 참조 가능

In [ ]:
name = 'AJ네트웍스'
df.query('nm == @name')

             nm  open  close
cd
A095570  AJ네트웍스  1920   1900

### 5.2 filter

> **인덱스나 컬럼 이름**에 대해서 특정 조건으로 필터링

In [ ]:
from pandas import DataFrame

data = [
    [1416, 1416, 2994, 1755],
    [6.42, 17.63, 21.09, 13.93],
    [1.10, 1.49, 2.06, 1.88]
]

columns = ['2018/12', '2019/12', '2020/12', '2021/12(E)']
index = ['DPS', 'PER', 'PBR']

df = DataFrame(data=data, index=index, columns=columns)
df

     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

**방법 1.**

> filter 메서드의 items 파라미터: 선택할 컬럼의 이름을 지정

> filter 메서드의 반환값은 데이터프레임

In [ ]:
df.filter(items=['2018/12']) #[] 사용

     2018/12
DPS  1416.00
PER     6.42
PBR     1.10

**방법 2** 인덱스에 대한 필터링

> axis 파라미터를 0으로 설정 -> 인덱스에 대해 검색

> axis 설정 안 할 시 -> 1로 설정되어 컬럼에서 탐색

In [ ]:
df.filter(items=['PER'], axis=0)

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93

> **regex** 파라미터: 정규표현식 사용 가능

*   여러 종목에 대해서 백테스팅을 수행할 때 회사별로 결산월이 다름
*   -> 컬럼에서 2020이라는 문자열 일부로 필터링 필요

In [ ]:
df.filter(regex='2020')

     2020/12
DPS  2994.00
PER    21.09
PBR     2.06

> **메타 문자 사용**: 정규 표현식에서 검색하는 패턴을 구체화
*    단순히 문자열의 패턴만을 검색하면 원치 않는 값들이 함께 선택되기 때문
*   메타 문자는 특수 기능을 의미

> **^**: 시작을 의미

> ^2020: 2020으로 시작하는 문자열 패턴만을 선택

In [ ]:
df.filter(regex='^2020', axis=1)

     2020/12
DPS  2994.00
PER    21.09
PBR     2.06

> **$**: 끝을 의미

> R$: R로 끝나는 모든 패턴

In [ ]:
df.filter(regex='R$', axis=0)

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

> **\d**: 숫자를 의미

> 중괄호{}: 출현 횟수 지정 가능

In [ ]:
df.filter(regex='\d{4}') #숫자 4개가 연속해서 발생하는 문자열만 탐색

     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

> E가 붙은 추정치를 제외하고 확정된 지표만 선택

In [ ]:
df.filter(regex='\d{4}/\d{2}$')

     2018/12  2019/12  2020/12
DPS  1416.00  1416.00  2994.00
PER     6.42    17.63    21.09
PBR     1.10     1.49     2.06

### 5.3 정렬 및 순위

> 기본적으로 시리즈 객체와 동일한 방식

In [ ]:
from pandas import DataFrame

data = [
    ['037730', '3R', 1510],
    ['036360', '3SOFT', 1790],
    ['005670', 'ACTS', 1185]
]

columns = ['종목코드', '종목명', '현재가']
df = DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)
df

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790
005670   ACTS  1185

####**정렬**

> 데이터프레임의 객체는 여러 개의 컬럼으로 구성되어 시리즈와 달리 정렬 기준을 정해야 함

> **df.sort_values('기준값')**

In [ ]:
df2 = df.sort_values('현재가')
print(df2)

          종목명   현재가
종목코드
005670   ACTS  1185
037730     3R  1510
036360  3SOFT  1790

> **by**로 파라미터의 이름도 지정 가능

> 메서드의 인자가 많을 경우 명시적으로 파라미터 적기 추천

In [ ]:
df2 = df.sort_values(by='현재가')
print(df2)

          종목명   현재가
종목코드
005670   ACTS  1185
037730     3R  1510
036360  3SOFT  1790

> 내림차순 정렬: ascending = False

In [ ]:
df2 = df.sort_values(by='현재가', ascending=False)
print(df2)

          종목명   현재가
종목코드
036360  3SOFT  1790
037730     3R  1510
005670   ACTS  1185

####**순위**

>**rank 메서드**: 순위가 저장된 시리즈 객체를 리턴

> 순위를 매긴 후 해당 컬럼을 기존의 데이터프레임에 추가(for 편리한 데이터 관리)

> 현재가가 낮은 종목부터 순위 매기기

In [ ]:
df['순위'] = df['현재가'].rank()
print(df)

          종목명   현재가   순위
종목코드
037730     3R  1510  2.0
036360  3SOFT  1790  3.0
005670   ACTS  1185  1.0

> 테이터프레임을 순위별로 정렬

In [ ]:
df.sort_values(by='순위', inplace=True) #현재 데이터프레임 객체에 정렬을 바로 적용
print(df)

          종목명   현재가   순위
종목코드
005670   ACTS  1185  1.0
037730     3R  1510  2.0
036360  3SOFT  1790  3.0

### 5.4 인덱스 연산

> 브로드캐스팅 적용으로 같은 인덱스를 갖는 데이터 사이의 연산이 적용됨

> 판다스에서 사용 가능한 인덱스 2개 만들기

In [ ]:
import pandas as pd

idx1 = pd.Index([1, 2, 3])
idx2 = pd.Index([2, 3, 4])

print(type(idx1))

<class 'pandas.core.indexes.base.Index'>

> **union 메서드**: 합집합

> 현재 인덱스와 입력된 인덱스를 모두 합쳐 중복된 것을 제거한 결과를 반환

In [ ]:
idx1.union(idx2)

Index([1, 2, 3, 4], dtype='int64')

> **intersection 메서드**: 교집합

> 중복된 데이터만 선택

In [ ]:
idx1.intersection(idx2)

Index([2, 3], dtype='int64')

> **difference**: 차집합

> idx1에서 idx2와 중복되는 인덱스 값만 제거

In [ ]:
idx1.difference(idx2)

Index([1], dtype='int64')

### 5.5 GroupBy

> 데이터 집계

In [ ]:
from pandas import DataFrame

data = [
    ['2차전지(생산)', 'SK이노베이션', 10.19, 1.29],
    ['해운', '팬오션', 21.23, 0.95],
    ['시스템반도체', '티엘아이', 35.97, 1.12],
    ['해운', 'HMM', 21.52, 3.20],
    ['시스템반도체', '아이에이', 37.32, 3.55],
    ['2차전지(생산)', 'LG화학', 83.06, 3.75]
]

columns = ['테마', '종목명', 'PER', 'PBR']
df = DataFrame(data=data, columns=columns)
print(df)

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
1        해운      팬오션  21.23  0.95
2    시스템반도체     티엘아이  35.97  1.12
3        해운      HMM  21.52  3.20
4    시스템반도체     아이에이  37.32  3.55
5  2차전지(생산)     LG화학  83.06  3.75

**과정 1.** 2차전지, 해운, 시스템반도체의 세 그룹으로 종목 분류하기

In [ ]:
df1 = df[df['테마'] == '2차전지(생산)']
df2 = df[df['테마'] == '해운']
df3 = df[df['테마'] == '시스템반도체']

**과정 2.** 그룹별로 PER 컬럼의 평균값 계산

> 시리즈 객체의 **mean 메서드** 호출

> 데이터프레임의 컬럼은 시리즈 객체이기 때문

In [ ]:
mean1 = df1['PER'].mean()
mean2 = df2['PER'].mean()
mean3 = df3['PER'].mean()

**과정 3.** 테마별로 PER의 평균을 시리즈로 저장

In [ ]:
import pandas as pd

data = [mean1, mean2, mean3]
index = ['2차전지(생산)', '해운', '시스템반도체']
s = pd.Series(data=data, index=index)
print(s)

#### groupby 메서드 사용

> 앞의 과정 1 ~ 3을 한 번에 처리해줌

In [ ]:
df.groupby('테마')['PER'].mean()

테마
2차전지(생산)    46.625
시스템반도체      36.645
해운          21.375
Name: PER, dtype: float64

> **get_group 메서드**: 특정한 값을 갖는 데이터 프레임 얻기

In [ ]:
gb = df. groupby('테마')
temp = gb.get_group('2차전지(생산)')
print(temp)

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75

In [ ]:
temp = df[['테마', 'PER', 'PBR']].groupby('테마').get_group('2차전지(생산)')
print(temp)

         테마    PER   PBR
0  2차전지(생산)  10.19  1.29
5  2차전지(생산)  83.06  3.75

> 테마별로 정리한 DataFrameGroupBy 객체에서

> PER과 PBR 컬럼만을 선택한 뒤

> 2차전지(생산)이 포함된 테마만을 선택

In [ ]:
temp = df.groupby('테마')[ ['PER', 'PBR'] ].get_group("2차전지(생산)")
print(temp)

     PER   PBR
0  10.19  1.29
5  83.06  3.75

> groupby 메서드로 그룹화하고

> PER과 PBR 컬럼에 mean 메서드 적용

> cf) mean 자리에 max, min, sum, var, std의 기초 통계 함수 사용 가능

In [ ]:
df.groupby('테마')[['PER', 'PBR']].mean()

             PER    PBR
테마
2차전지(생산)  46.625  2.520
시스템반도체    36.645  2.335
해운        21.375  2.075

> 특정 컬럼마다 다른 함수 적용 가능

> **agg 메서드**: 해당 그룹의 대푯값 설정

> {key:value} = {컬럼 이름: 적용할 함수 이름}

In [ ]:
df.groupby('테마').agg({'PER': max, 'PBR': min})

            PER   PBR
테마
2차전지(생산)  83.06  1.29
시스템반도체    37.32  1.12
해운        21.52  0.95

> 하나의 컬럼에 여러 연산 지정 가능

> 딕셔너리의 value에 리스트로 적용할 연산 나열

> PER에는 기본 함수 min, max 적용하고 PBR에는 numpy가 제공하는 표준편차와 분산 구하기

In [ ]:
import numpy as np

df.groupby('테마').agg({'PER': [min, max], 'PBR': [np.std, np.var]})

<ipython-input-45-d1370f16bb99>:3: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('테마').agg({'PER': [min, max], 'PBR': [np.std, np.var]})
<ipython-input-45-d1370f16bb99>:3: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('테마').agg({'PER': [min, max], 'PBR': [np.std, np.var]})
<ipython-input-45-d1370f16bb99>:3: FutureWarning: The provided callable <function std at 0x7e6f8b903e20> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  df.groupby('테마').agg({'PER': [min, max], 'PBR': [np.std, np.var]})
<ipython-input-45-d1370f16bb99>:3: FutureWarning: The provided callable <function var at 0x7e6f8b903f40> is currently using SeriesGroupBy.var. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "var" instead.
  df.groupby('테마').agg({'PER': [min, max], 'PBR': [np.std, np.var]})

            PER              PBR
            min    max       std      var
테마
2차전지(생산)  10.19  83.06  1.739483  3.02580
시스템반도체    35.97  37.32  1.718269  2.95245
해운        21.23  21.52  1.590990  2.53125

### 5.6 좌/우로 붙이기

**방법 1.** 인덱스가 같을 때
> **concat** 함수 사용

*   인덱스는 동일한데 컬럼의 데이터가 분리되어 있을 때
*   기본적으로 같은 컬럼 레이블을 갖는 데이터프레임 객체를 위/아래로 **연결**
*   **axis = 1** 파라미터로 좌/우로 **연결**

In [ ]:
from pandas import DataFrame
import pandas as pd

data = {
    '종가': [113000, 111500],
    '거래량': [555850, 282163]
}

index = ["2019-06-21", "2019-06-20"]
df1 = DataFrame(data=data, index=index)

data = {
    '시가': [112500, 110000],
    '고가': [115000, 112000],
    '저가': [111500, 109000]
}
df2 = DataFrame(data=data, index=index)

df = pd.concat([df1, df2], axis=1)
print(df)

                종가     거래량      시가      고가      저가
2019-06-21  113000  555850  112500  115000  111500
2019-06-20  111500  282163  110000  112000  109000

> 컬럼 순서 변경

> 변경 순서대로 레이블을 리스트로 정의하고 인덱싱 기호 [] 안에 넣어주기

> 보통 시가, 고가, 저가, 종가, 거래량 순임

In [ ]:
정렬순서 = ['시가', '고가', '저가', '종가', '거래량']
df = df[정렬순서]
print(df)

                시가      고가      저가      종가     거래량
2019-06-21  112500  115000  111500  113000  555850
2019-06-20  110000  112000  109000  111500  282163

**방법 2.** 인덱스가 다를 때

In [ ]:
data = {
    '종가': [113000, 111500],
    '거래량': [555850, 282163]
}

index = ["2019-06-21", "2019-06-20"]
df1 = DataFrame(data=data, index=index)

data = {
    '시가': [112500, 110000],
    '고가': [115000, 112000],
    '저가': [111500, 109000]
}

index = ["2019-06-20", "2019-06-19"]
df2 = DataFrame(data=data, index=index)

df = pd.concat([df1, df2], axis=1)
print(df)

                  종가       거래량        시가        고가        저가
2019-06-21  113000.0  555850.0       NaN       NaN       NaN
2019-06-20  111500.0  282163.0  112500.0  115000.0  111500.0
2019-06-19       NaN       NaN  110000.0  112000.0  109000.0

> **join** 파라미터 사용해서 **outer, inner 옵션**으로 인덱스가 다를 때의 동작 지정

> **outer**: 합집합처럼 모든 인덱스에 대해 값을 연결. 존재하지 않는 값은 결측값으로

> join 피라미터 지정 안 할 시 outer 모드 동작

> **inner**: 교집합처럼 인덱스가 공통인 부분만 연결

In [ ]:
df = pd.concat([df1, df2], axis=1, join='inner')
print(df)

                종가     거래량      시가      고가      저가
2019-06-20  111500  282163  112500  115000  111500

In [ ]:
df = pd.concat([df1, df2], axis=1, join='outer')
df

                  종가       거래량        시가        고가        저가
2019-06-21  113000.0  555850.0       NaN       NaN       NaN
2019-06-20  111500.0  282163.0  112500.0  115000.0  111500.0
2019-06-19       NaN       NaN  110000.0  112000.0  109000.0

### 5.7 위/아래로 붙이기

> 컬럼을 기준으로 정렬한 후 위/아래로 붙임

> **append** 메서드 사용: 원본 데이터 수정이 아니라 결과가 저장된 새로운 데이터 프레임을 반환

In [ ]:
from pandas import DataFrame
import pandas as pd

data = {
    '종가': [113000, 111500],
    '거래량': [555850, 282163]
}
index = ["2019-06-21", "2019-06-20"]
df1 = DataFrame(data, index=index)

data = {
    '종가': [110000, 483689],
    '거래량': [109000, 791946]
}
index = ["2019-06-19", "2019-06-18"]
df2 = DataFrame(data, index=index)

df = df1.append(df2) #append 메서드 사용해 추가
print(df)

AttributeError: 'DataFrame' object has no attribute 'append'

> 원래는 두 개의 df에는 append 메서드, 여러 개에는 concat이었음

> 하지만, 최신 버전의 pandas에서 DataFrame 객체의 append 메서드가 더 이상 지원되지 않음

In [ ]:
df = pd.concat([df1, df2])
print(df)

                종가     거래량
2019-06-21  113000  555850
2019-06-20  111500  282163
2019-06-19  110000  109000
2019-06-18  483689  791946

### 5.8 Merge

> merge는 특정 **컬럼 값을 기준**으로 데이터 **병합**

> '연결'하는 concat과 다름

In [ ]:
from pandas import DataFrame
import pandas as pd

data = [
    ['전기전자', '005930', '삼성전자', 74400],
    ['화학', '051910', 'LG화학', 896000],
    ['전기전자', '000660', 'SK하이닉스', 101500]
]

columns = ['업종', '종목코드', '종목명', '현재가']
df1 = DataFrame(data=data, columns=columns)

data = [
    ['은행', 2.92],
    ['보험', 0.37],
    ['화학', 0.06],
    ['전기전자', -2.43]
]

columns = ['업종', '등락률']
df2 = DataFrame(data=data, columns=columns)

> df를 합칠 기준값(컬럼명)을 **on** 파라미터에 지정

> 합칠 df는 **left**와 **right** 파라미터에 각각 연결

In [ ]:
df = pd.merge(left=df1, right=df2, on='업종')
print(df)

     업종    종목코드     종목명     현재가   등락률
0  전기전자  005930    삼성전자   74400 -2.43
1  전기전자  000660  SK하이닉스  101500 -2.43
2    화학  051910    LG화학  896000  0.06

> **how** 파라미터로 합치는 방법 지정 가능 (inner, outer 모드)

In [ ]:
df = pd.merge(left=df1, right=df2, how='inner', on='업종')
print(df)

     업종    종목코드     종목명     현재가   등락률
0  전기전자  005930    삼성전자   74400 -2.43
1  전기전자  000660  SK하이닉스  101500 -2.43
2    화학  051910    LG화학  896000  0.06

In [ ]:
df = pd.merge(left=df1, right=df2, how='outer', on='업종')
print(df)

     업종    종목코드     종목명       현재가   등락률
0  전기전자  005930    삼성전자   74400.0 -2.43
1  전기전자  000660  SK하이닉스  101500.0 -2.43
2    화학  051910    LG화학  896000.0  0.06
3    은행     NaN     NaN       NaN  2.92
4    보험     NaN     NaN       NaN  0.37

> **left, right** 옵션: 해당 파라미터에 입력된 df 기준으로 병합

In [ ]:
from pandas import DataFrame
import pandas as pd

data = [
    ['전기전자', '005930', '삼성전자', 74400],
    ['화학', '051910', 'LG화학', 896000],
    ['서비스업', '035720', '카카오', 121500]
]

columns = ['업종', '종목코드', '종목명', '현재가']
df1 = DataFrame(data=data, columns=columns)

data = [
    ['은행', 2.92],
    ['보험', 0.37],
    ['화학', 0.06],
    ['전기전자', -2.43]
]

columns = ['업종', '등락률']
df2 = DataFrame(data=data, columns=columns)

In [ ]:
df = pd.merge(left=df1, right=df2, how='left', on='업종')
print(df)

     업종    종목코드   종목명     현재가   등락률
0  전기전자  005930  삼성전자   74400 -2.43
1    화학  051910  LG화학  896000  0.06
2  서비스업  035720   카카오  121500   NaN

> df의 컬럼이 다를 때

> 합칠 기준이 되는 각 컬럼의 이름을 **on**에 모두 입력(**left_on, right_on**)

In [ ]:
data = [
    ['전기전자', '005930', '삼성전자', 74400],
    ['화학', '051910', 'LG화학', 896000],
    ['서비스업', '035720', '카카오', 121500]
]

columns = ['업종', '종목코드', '종목명', '현재가']
df1 = DataFrame(data=data, columns=columns)

data = [
    ['은행', 2.92],
    ['보험', 0.37],
    ['화학', 0.06],
    ['전기전자', -2.43]
]

columns = ['항목', '등락률']
df2 = DataFrame(data=data, columns=columns)

In [ ]:
df = pd.merge(left=df1, right=df2, left_on='업종', right_on='항목')
print(df)

     업종    종목코드   종목명     현재가    항목   등락률
0  전기전자  005930  삼성전자   74400  전기전자 -2.43
1    화학  051910  LG화학  896000    화학  0.06

### 5.9 Join

> **인덱스를 기준**으로 **병합**

In [ ]:
data = [
    ['전기전자', '005930', '삼성전자', 74400],
    ['화학', '051910', 'LG화학', 896000],
    ['서비스업', '035720', '카카오', 121500]
]

columns = ['업종', '종목코드', '종목명', '현재가']
df1 = DataFrame(data=data, columns=columns)
df1 = df1.set_index('업종')

data = [
    ['은행', 2.92],
    ['보험', 0.37],
    ['화학', 0.06],
    ['전기전자', -2.43]
]

columns = ['항목', '등락률']
df2 = DataFrame(data=data, columns=columns)
df2 = df2.set_index('항목')

> **other** 파라미터로 병합할 df 전달

> how 파라미터로 **left/right/outer/inner** 옵션 지정(기본은 left 옵션)

In [ ]:
df1.join(other=df2)

        종목코드   종목명     현재가   등락률
업종
전기전자  005930  삼성전자   74400 -2.43
화학    051910  LG화학  896000  0.06
서비스업  035720   카카오  121500   NaN

> 예제: 시가총액 사용해 대형주와 중/소형주로 구분

In [ ]:
data = [
    ['2017', '삼성', 500],
    ['2017', 'LG', 300],
    ['2017', 'SK하이닉스', 200],
    ['2018', '삼성', 600],
    ['2018', 'LG', 400],
    ['2018', 'SK하이닉스', 300],
]

columns = ['연도', '회사', '시가총액']
df = DataFrame(data=data, columns=columns)
print(df)

     연도      회사  시가총액
0  2017      삼성   500
1  2017      LG   300
2  2017  SK하이닉스   200
3  2018      삼성   600
4  2018      LG   400
5  2018  SK하이닉스   300

> groupby로 연도별 시가총액의 평균 계산


*   문자열은 자동으로 제거
*   **to_frame** 메서드 사용하여 df으로 변환 <- 반환되는 컬럼이 시가총액 하나라서 시리즈이기 때문

In [ ]:
df_mean = df.groupby('연도')['시가총액'].mean().to_frame()
df_mean.columns = ['시가총액평균']
print(df_mean)

          시가총액평균
연도
2017  333.333333
2018  433.333333

> 원본 df에 df_mean 병합

In [ ]:
df = df.join(df_mean, on='연도')
print(df)

     연도      회사  시가총액      시가총액평균
0  2017      삼성   500  333.333333
1  2017      LG   300  333.333333
2  2017  SK하이닉스   200  333.333333
3  2018      삼성   600  433.333333
4  2018      LG   400  433.333333
5  2018  SK하이닉스   300  433.333333

> 대형주(시가총액 >= 시가총액평균), 중/소형주로 구분

In [ ]:
import numpy as np

df['규모'] = np.where(df['시가총액'] >= df['시가총액평균'], '대형주', '중/소형주')
print(df)

     연도      회사  시가총액      시가총액평균     규모
0  2017      삼성   500  333.333333    대형주
1  2017      LG   300  333.333333  중/소형주
2  2017  SK하이닉스   200  333.333333  중/소형주
3  2018      삼성   600  433.333333    대형주
4  2018      LG   400  433.333333  중/소형주
5  2018  SK하이닉스   300  433.333333  중/소형주

### 5.10 멀티인덱스

> 하위 데이터를 계층적으로 표현

> level 0, 1, 2, ...

In [ ]:
from pandas import DataFrame
import pandas as pd

data = [
    ['영업이익', '컨센서스', 1000, 1200],
    ['영업이익', '잠정치', 900, 1400],
    ['당기순이익', '컨센서스', 800, 900],
    ['당기순이익', '잠정치', 700, 800]
]

df = DataFrame(data=data)
df = df.set_index([0, 1])
# 컬럼 이름 부여하지 않아 숫자로 표현됨. 그 중 멀티 인덱스로 사용할 컬럼의 이름을 리스트로 전달
print(df)

               2     3
0     1
영업이익  컨센서스  1000  1200
      잠정치    900  1400
당기순이익 컨센서스   800   900
      잠정치    700   800

> 인덱스와 컬럼 이름 변경

In [ ]:
df.index.names = ['재무연월', '']
df.columns = ['2020/06', '2020/09']
print(df)

            2020/06  2020/09
재무연월
영업이익  컨센서스     1000     1200
      잠정치       900     1400
당기순이익 컨센서스      800      900
      잠정치       700      800

> **iloc, loc** 속성으로 로우 단위의 인덱싱 및 슬라이싱 가능

In [ ]:
print(df.loc['영업이익'])

      2020/06  2020/09

컨센서스     1000     1200
잠정치       900     1400

> 멀티 인덱스에서 하나의 행을 선택할 때는 level 0 ~ N까지 인덱스를 튜플()로 정의하기

In [ ]:
print(df.loc[ ('영업이익', '컨센서스') ])

2020/06    1000
2020/09    1200
Name: (영업이익, 컨센서스), dtype: int64

> iloc: 인덱스의 레벨과 무관하게 하나의 로우 선택

-> 컬럼 이름을 인덱스로 갖는 시리즈 반환됨

In [ ]:
print(df.iloc[0])

2020/06    1000
2020/09    1200
Name: (영업이익, 컨센서스), dtype: int64

> iloc로 2020/06의 컨센서스 값 선택

-> 행과 열의 인덱스를 차례로 지정

In [ ]:
print(df.iloc[0, 0])

1000

In [ ]:
print(df.loc[('영업이익', '컨센서스'), '2020/06'])

1000

> level 1 인덱스에 컨센서스 값이 들어 있는 모든 데이터 슬라이싱


*   df는 낮은 level부터 탐색해서 df.loc['컨센서스']로 하면 에러 발생
*   **slice** 클래스 사용: 파이썬에서 슬라이싱할 때 '시작:끝:오프셋' 형태로 증감폭 지정하는 걸 표현

In [ ]:
a = [1, 2, 3, 4, 5]

print(a[0:5:2])
print(a[slice(0, 5, 2)])

[1, 3, 5]
[1, 3, 5]

In [ ]:
a = [1, 2, 3, 4, 5]
b = [3, 4, 5, 6, 7]

s = slice(0, 5, 2)
print(a[ s ])
print(b[ s ])

[1, 3, 5]
[3, 5, 7]

> 전체 데이터 선택: **slice(None)** 사용

-> 기초 슬라이싱의 ' : '과 같은 역할

In [ ]:
a = [1, 2, 3, 4, 5]

print(a[:])
print(a[slice(None)])
print(a[ : : ])
print(a[slice(None, None)])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

> level 0 인덱스 전체에 level 1의 컨센서스만을 선택

**방법 1.**

In [ ]:
print( df.loc[ ( :, '컨센서스'), : ] )

SyntaxError: invalid syntax (<ipython-input-97-0a8f565f7e0c>, line 1)

In [ ]:
print(df.loc[(slice(None), '컨센서스'), : ]) #[(행), 열]

            2020/06  2020/09
재무연월
영업이익  컨센서스     1000     1200
당기순이익 컨센서스      800      900

**방법 2.** IndexSlice 사용

> ['level 0', 'level 1', 'level 2'] 형태로 인덱스 차례로 지정

> 이때도 행과 열을 모두 지정해야 함

In [ ]:
idx = pd.IndexSlice
print(df.loc[idx[:, '컨센서스'], :]) #df.loc[행, 열]

            2020/06  2020/09
재무연월
영업이익  컨센서스     1000     1200
당기순이익 컨센서스      800      900

### 5.11 멀티컬럼

> 위에서부터 level을 부여

-> 영업이익과 당기순이익이 level 0임

In [ ]:
from pandas import DataFrame

data = [
    [100, 900, 800, 700],
    [1200, 1400, 900, 800]
]

columns = [
    ['영업이익', '영업이익', '당기순이익', '당기순이익'],
    ['컨센서스', '잠정치', '컨센서스', '잠정치']
]

index = ["2020/06", "2020/09"]

df = DataFrame(data=data, index=index, columns=columns)
print(df)

         영업이익       당기순이익
         컨센서스   잠정치  컨센서스  잠정치
2020/06   100   900   800  700
2020/09  1200  1400   900  800

> 판다스 MultiIndex의 **from_product** 함수: 입력된 리스트로 데이터 조합

-> 컬럼 개수가 많아질 때 유용

> **get_level_values()**: 특정 level만 출력

In [ ]:
import pandas as pd

level_0 = ['영업이익', '당기순이익']
level_1 = ['컨센서스', '잠정치']

idx = pd.MultiIndex.from_product([level_0, level_1])

print(idx)
print(idx.get_level_values(0))

MultiIndex([( '영업이익', '컨센서스'),
            ( '영업이익',  '잠정치'),
            ('당기순이익', '컨센서스'),
            ('당기순이익',  '잠정치')],
           )
Index(['영업이익', '영업이익', '당기순이익', '당기순이익'], dtype='object')

> from_product 메서드로 생성한 결과를 df로 연결

In [ ]:
import pandas as pd

level_0 = ['영업이익', '당기순이익']
level_1 = ['컨센서스', '잠정치']
colums = pd.MultiIndex.from_product([level_0, level_1])
index = ['2020/06', '2020/09']
df = DataFrame(data=data, index=index, columns=columns)
print(df)

         영업이익       당기순이익
         컨센서스   잠정치  컨센서스  잠정치
2020/06   100   900   800  700
2020/09  1200  1400   900  800

> 컬럼 인덱싱

In [ ]:
print(df['영업이익'])

         컨센서스   잠정치
2020/06   100   900
2020/09  1200  1400

In [ ]:
print(df[('영업이익', '컨센서스')])

2020/06     100
2020/09    1200
Name: (영업이익, 컨센서스), dtype: int64

In [ ]:
print(df['영업이익'])
print(df.loc['2020/06', '영업이익'])
print(df.loc['2020/06', ('영업이익', '컨센서스')])
print(df.loc['2020/06', (slice(None), '컨센서스')])

         컨센서스   잠정치
2020/06   100   900
2020/09  1200  1400
컨센서스    100
잠정치     900
Name: 2020/06, dtype: int64
100
영업이익   컨센서스    100
당기순이익  컨센서스    800
Name: 2020/06, dtype: int64

> 멀티 칼럼과 멀티 인덱스의 상호변경

> **T속성** 또는 **transpose** 메서드 사용

In [ ]:
print(df.transpose())
print(df.T)

            2020/06  2020/09
영업이익  컨센서스      100     1200
      잠정치       900     1400
당기순이익 컨센서스      800      900
      잠정치       700      800
            2020/06  2020/09
영업이익  컨센서스      100     1200
      잠정치       900     1400
당기순이익 컨센서스      800      900
      잠정치       700      800

### 5.12 Stack/Unstack

> 컬럼과 인덱스의 상호변경

> Stack: 컬럼을 인덱스로

> 높은 레벨(숫자가 큰) 컬럼부터 쌓임

In [ ]:
from pandas import DataFrame
import pandas as pd

data = [
    [100, 900, 800, 700],
    [1200, 1400, 900, 800]
]

level_0 = ['영업이익', '당기순이익']
level_1 = ['컨센서스', '잠정치']
columns = pd.MultiIndex.from_product([level_0, level_1])

index = ['2020/06', '2020/09']

df = DataFrame(data=data, index=index, columns=columns)
print(df.stack())

              영업이익  당기순이익
2020/06 잠정치    900    700
        컨센서스   100    800
2020/09 잠정치   1400    800
        컨센서스  1200    900

> level 옵션을 사용해 특정 컬럼 지정 가능

In [ ]:
print(df.stack(level=0))

               컨센서스   잠정치
2020/06 당기순이익   800   700
        영업이익    100   900
2020/09 당기순이익   900   800
        영업이익   1200  1400

In [ ]:
print(df.stack().stack())

2020/06  잠정치   영업이익      900
               당기순이익     700
         컨센서스  영업이익      100
               당기순이익     800
2020/09  잠정치   영업이익     1400
               당기순이익     800
         컨센서스  영업이익     1200
               당기순이익     900
dtype: int64

> **예제.** 데이터 분석을 위해 컬럼의 연도와 월을 분리해야하는데 컬럼에 위치해서 브로드 캐스팅을 사용하기 쉽지 않을 때

In [ ]:
data = [
    [1000, 1100, 900, 1200, 1300],
    [800, 2000, 1700, 1500, 1800]
]
index = ['자본금', '부채']
columns = ['2020/03', '2020/06', '2020/09', '2021/03', '2021/06']
df = DataFrame(data, index, columns)

> **reset_index**: 인덱스를 초기화하여 기존의 인덱스 정보를 데이터의 열로 변환

-> 더 직관적인 테이블 형태로 변환해 일반적인 열 데이터를 기준으로 분석 진행 가능

In [ ]:
df_stacked = df.stack().reset_index()

> **split** 메서드: 각각의 값을 연도와 월로 분리

In [ ]:
temp = df_stacked['level_1'].str.split('/')
print(temp)

0    [2020, 03]
1    [2020, 06]
2    [2020, 09]
3    [2021, 03]
4    [2021, 06]
5    [2020, 03]
6    [2020, 06]
7    [2020, 09]
8    [2021, 03]
9    [2021, 06]
Name: level_1, dtype: object

> 반환된 시리즈를 리스트로 변환 후 df 객체로 변환

In [ ]:
df_split = DataFrame( list(df_stacked['level_1'].str.split('/')) )

> df_stacked와 df_split 두 개를 합치고 컬럼 이름 부여

-> df는 위/아래로 긴 형태로 데이터 정리돼 있어야 가공이 쉬움

In [ ]:
df_merged = pd.concat( [df_stacked, df_split], axis=1 )
df_merged.columns = ['계정', '년월', '금액', '연도', '월']
print(df_merged)

    계정       년월    금액    연도   월
0  자본금  2020/03  1000  2020  03
1  자본금  2020/06  1100  2020  06
2  자본금  2020/09   900  2020  09
3  자본금  2021/03  1200  2021  03
4  자본금  2021/06  1300  2021  06
5   부채  2020/03   800  2020  03
6   부채  2020/06  2000  2020  06
7   부채  2020/09  1700  2020  09
8   부채  2021/03  1500  2021  03
9   부채  2021/06  1800  2021  06

> 부채와 자본금을 연도별로 정리

> 계정과 연도를 기준으로 데이터를 그룹하여 모든 값 더하기

> 년월은 문자열 컬럼이라 sum() 함수의 호출 결과 자동으로 제거됨

In [ ]:
df_group = df_merged.groupby(['계정', '연도']).sum()
df_group = df_group.drop(columns=['년월', '월'])

print(df_group)

            금액
계정  연도
부채  2020  4500
    2021  3300
자본금 2020  3000
    2021  2500

> level 1인 인덱스롤 컬럼으로 변경

> level 0 컬럼인 금액을 선택하고 컬럼과 인덱스의 이름 제거

In [ ]:
df_unstack = df_group.unstack()
result = df_unstack['금액']
result.columns.name = ''
result.index.name = ''
print(result)

     2020  2021

부채   4500  3300
자본금  3000  2500

### 5.13 pivot

> 엑셀처럼 필요한 데이터를 추출해서 재구성하는 기능

In [ ]:
from pandas import DataFrame
import pandas as pd

data = [
    ['2021-08-12', '삼성전자', 77000],
    ['2021-08-13', '삼성전자', 74400],
    ['2021-08-12', 'LG전자', 153000],
    ['2021-08-13', 'LG전자', 150500],
    ['2021-08-12', 'SK하이닉스', 100500],
    ['2021-08-13', 'SK하이닉스', 101500]
]
columns = ['날짜', '종목명', '종가']
df = DataFrame(data=data, columns=columns)
print(df)

           날짜     종목명      종가
0  2021-08-12    삼성전자   77000
1  2021-08-13    삼성전자   74400
2  2021-08-12    LG전자  153000
3  2021-08-13    LG전자  150500
4  2021-08-12  SK하이닉스  100500
5  2021-08-13  SK하이닉스  101500

> pivot 함수는 **data, index, columns, values** 파라마터를 입력받음

In [ ]:
pd.pivot(data=df, index='날짜', columns='종목명', values='종가')

종목명           LG전자  SK하이닉스   삼성전자
날짜
2021-08-12  153000  100500  77000
2021-08-13  150500  101500  74400

> pivot이랑 같은 결과 내는 법

In [ ]:
df.groupby(['날짜', '종목명']).mean().unstack()

                  종가
종목명             LG전자    SK하이닉스     삼성전자
날짜
2021-08-12  153000.0  100500.0  77000.0
2021-08-13  150500.0  101500.0  74400.0

In [ ]:
pd.pivot(data=df, index='종목명', columns='날짜', values='종가')

날짜      2021-08-12  2021-08-13
종목명
LG전자        153000      150500
SK하이닉스      100500      101500
삼성전자         77000       74400

### 5.14 Melt

> 컬럼의 수가 많아서 넓은 **와이드 포맷**의 df를 세로로 긴 **롱 포맷**으로 재구조화

In [ ]:
from pandas import DataFrame

data = [
    ['005930', '삼성전자', 75800, 76000, 74100, 74400],
    ['035720', '카카오', 147500, 147500, 144500, 146000],
    ['000660', 'SK하이닉스', 99600, 101500, 98900, 101500]
]

columns = ['종목코드', '종목명', '시가', '고가', '저가', '종가']
df = DataFrame(data=data, columns=columns)

> melt하면 모든 컬럼과 연관된 값이 **variable**과 **value** 컬럼으로 재구성됨

> **id_vars**: melt하지 않을 컬럼의 이름을 리스트로 지정

In [ ]:
df.melt(id_vars=['종목코드', '종목명'])

      종목코드     종목명 variable   value
0   005930    삼성전자       시가   75800
1   035720     카카오       시가  147500
2   000660  SK하이닉스       시가   99600
3   005930    삼성전자       고가   76000
4   035720     카카오       고가  147500
5   000660  SK하이닉스       고가  101500
6   005930    삼성전자       저가   74100
7   035720     카카오       저가  144500
8   000660  SK하이닉스       저가   98900
9   005930    삼성전자       종가   74400
10  035720     카카오       종가  146000
11  000660  SK하이닉스       종가  101500

> **value_vars**: 특정 컬럼만 슬라이싱 후 melt 적용

In [ ]:
df.melt(value_vars=['시가', '종가'])

  variable   value
0       시가   75800
1       시가  147500
2       시가   99600
3       종가   74400
4       종가  146000
5       종가  101500

### 5.15 파일 저장하기



*   to_csv: CSV파일로 저장
*   to_excel: 엑셀로
*   to_sql: 데이터베이스로
*   to_html: 웹페이지로

In [ ]:
from pandas import DataFrame

data = {
    '종목명': ['3R', '3SOFT', 'ACTS'],
    '현재가': [1510, 1790, 1185],
    '등락률': [7.36, 1.65, 1.28],
}

df = DataFrame(data, index=['037730', '036360', '005760'])

> CSV로 저장

In [ ]:
df.to_csv('data.csv')

> 경로 정보 입력 가능

In [ ]:
import os #폴더 생성

if not os.path.isdir('abc'):
    os.mkdir('abc')

df.to_csv('abc/data.csv') #abc라는 폴더 안에 data.csv 이름으로 저장하라는 뜻

> 절대 경로 방식: 최상위 경로에서 파일의 위치까지 모든 경로를 나열

> 슬래시'/' 나 '\\' 사용해야 함

In [ ]:
'C:\\A\\B\\C\\data.csv'
'C:/A/B/C/data.csv'
r'C:\\A\\B\\C\\data.csv' #r은 raw strint으로 역슬래시에 영향을 받지 않음

> 엑셀로 저장

*   **sheet_name**: 시트 이름 변경
*   **index = False**: 인덱스 제외하고 파일 저장
*   **header = Fasle**: 컬럼명 생략

In [ ]:
df.to_excel('data.xlsx')

In [ ]:
df.to_excel("data2.xlsx", sheet_name='종목정보')

In [ ]:
df.to_excel("data3.xlsx", index=False)

In [ ]:
df.to_excel("data4.xlsx", header=False)

### 5.16 파일 불러오기

> read_excel

> **cd**: 종목코드

> **nm**: 이름

> **gb**: 구분값

In [ ]:
import pandas as pd

df = pd.read_excel('code.xlsx')
df.head()

   Unnamed: 0       cd      nm   gb
0           0  A060310      3S  701
1           1  A095570  AJ네트웍스  701
2           2  A006840   AK홀딩스  701
3           3  A054620  APS홀딩스  701
4           4  A265520   AP시스템  701

> **index_col**: 특정 컬럼을 df의 인덱스로 지정

In [ ]:
df = pd.read_excel('code.xlsx', index_col='cd')
df.head()

         Unnamed: 0      nm   gb
cd
A060310           0      3S  701
A095570           1  AJ네트웍스  701
A006840           2   AK홀딩스  701
A054620           3  APS홀딩스  701
A265520           4   AP시스템  701

In [ ]:
df = pd.read_excel("code.xlsx", index_col=1)
df.head()

         Unnamed: 0      nm   gb
cd
A060310           0      3S  701
A095570           1  AJ네트웍스  701
A006840           2   AK홀딩스  701
A054620           3  APS홀딩스  701
A265520           4   AP시스템  701

>Unnamed: 0 컬럼 제거하기

> **usecols**: 인덱스를 0부터 사용하므로, usecols=[1,2,3]은 2,4,5번째 컬럼만을 사용함을 뜻함

In [ ]:
df = pd.read_excel("code.xlsx", index_col='cd', usecols=[1, 2, 3])
df.head()

             nm   gb
cd
A060310      3S  701
A095570  AJ네트웍스  701
A006840   AK홀딩스  701
A054620  APS홀딩스  701
A265520   AP시스템  701

> 표 윗부분에 원하지 않는 데이터가 존재하는 경우

> **header** 파라미터: 특정 행 이후부터 읽음

> 인덱스는 0부터 시작함 항상 주의

In [ ]:
df = pd.read_excel('code2.xlsx', header=2, index_col='cd', usecols=[1, 2, 3])
df.head()

             nm   gb
cd
A060310      3S  701
A095570  AJ네트웍스  701
A006840   AK홀딩스  701
A054620  APS홀딩스  701
A265520   AP시스템  701

> CSV 파일 읽기

In [ ]:
df = pd.read_csv('magic.csv')
df

     code    name    ROIC  EV/EBITDA
0  187660  에디엠코리아  2110.7       0.02
1  227420   도부마스크   394.7       1.23
2  225220    제놀루션   333.9       2.40
3    1880    DL건설   344.8       3.15

> 컬럼 타입을 명시적으로 지정해서 문제 해결하기

> **dtype**: 튜플 사용 {key:values} = {컬럼 이름:데이터 타입}

In [ ]:
df = pd.read_csv('magic.csv', dtype={'code': str}) #문자열로 지정
df

     code    name    ROIC  EV/EBITDA
0  187660  에디엠코리아  2110.7       0.02
1  227420   도부마스크   394.7       1.23
2  225220    제놀루션   333.9       2.40
3  001880    DL건설   344.8       3.15